<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="container header-container">

			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6" style=" text-align:center">
					<img src="{{ .Site.Params.logo }}" style="height:250px" />
					<h3 style="margin:0;">{{ .Site.Params.description }}</h3>

					{{ if (isset .Site.Params "github_project_name") }}
					{{ $user := .Site.Params.github_user_name }}
					{{ $repo := .Site.Params.github_project_name }}

					<iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user={{ $user }}&repo={{ $repo  }}&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
					{{ end }}

					<hr class="intro-divider">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
